
/* PESQUISA.CSS - EXTENSION OF SITE LAYOUT */
@import url("site.css"); 

#block 
{ 
 height:480px;
 padding-top:20px;
 text-align:justify;
}

#block img
{ 
 display:block;
 margin-left:auto;
 margin-right:10px;
}

#block p
{ 
 font-size:16px;
 text-align:justify;
 padding-top:-10px;
 padding-bottom:0px;
}

#block a
{ 
 text-align:justify;
 text-decoration:none;
 color: black;
}

#block h1
{ 
 font-size:20px;
 text-align:left;
 text-decoration:none;
 color: black;
}

#block li
{ 
 padding-left:20px;
 font-size:14px;
 text-align:left;
 line-height:100%;
}

#block .left
{ 
 float:left;
 width:70%;
 height:auto;
}

#block .right
{ 
 float:right;
 width:25%;
 height:auto;
}

#block .col1
{ 
 float:left;
 width:25%;
 height:auto;
}

#block .col2
{ 
 padding-left:20px;
 float:left;
 width:45%;
 height:auto;
}

#block .col3
{ 
 float:right;
 width:25%;
 height:auto;
}

#singleColumn
{ 
 width:720px;
 padding-top:30px;
 padding-bottom:20px;
 margin-left:auto;
 margin-right:auto;
 text-align:center; 
 font-size:13px; 
 letter-spacing:-1px;
}

#singleColumn a
{ 
 font-family:Arial, Helvetica, sans-serif; 
}

#singleColumn a:hover
{ 
 color:red;
 border-bottom:1px;
}

#singleColumn p 
{ 
 text-align:center; 
}

#singleColumn li
{
 font-size:14px;
 font-family:Arial, Helvetica, sans-serif; 
 text-decoration:none;
 color:black;
 letter-spacing:-1px;
 padding-left:15px;
 padding-bottom:8px;
 text-align:justify;
}

#singleColumn h1
{ 
 font-size:18px;
 font-weight:bold;
 text-align:left;
 color:black;
}

#singleColumn h2
{ 
 font-size:18px;
 text-align:justify;
 color:black;
}

#singleColumn img
{ 
 height:40px;
 padding-right:5px;
 text-align:center;
 color:black;
}


#simple
{ 
 font-size:30px;
 margin-left:120px;
 margin-right:120px;
 margin-bottom:20px;
 margin-top:20px;
 text-align:justify;
 text-decoration:none;
 letter-spacing:0px;
 color:black;
 height:auto;
}

#simple h1
{ 
 font-size:22px;
 font-weight:bold;
 width:500px;
 margin-left:40px;
 text-align:justify;
 color:black;
}

#simple p
{ 
 font-size:14px;
 text-align:justify;
 color:black;
}

#simple img
{ 
 display:block;
 height:400px;
 margin-left:auto;
 margin-right:auto;
}

