/* BASE CONFIG */
@import url("base.css"); 

/* 2 COLUMNS LAYOUT */
#twoColumns
{ 
 padding-top:20px;
 padding-bottom:20px;
 padding-left:30px; 
 padding-right:30px;
 width:740px; 
 font-size:13px; 
 font-weight:normal; 
 color:black; 
 letter-spacing:0px;
}

#twoColumns h1 
{ 
 margin-top:20px;
 text-align:left; 
 color:black;
 font-weight:bold; 
}

#twoColumns h2
{ 
 margin-top:10px;
 text-align:left;
 font-size:25px; 
 font-weight:bold; 
}

#twoColumns p 
{ 
 text-align:justify; 
}

#twoColumns .left
{ 
 float:left;
 height:auto 
}

#twoColumns .right
{ 
 float:right;
 height:auto 
}



