/* BASE CONFIG */
@import url("base.css"); 

/* 1 COLUMN LAYOUT */
#singleColumn
{ 
 width:680px;
 padding-top:10px;
 padding-bottom:20px;
 padding-left:30px; 
 padding-right:30px;
 font-size:13px; 
 color:blue; 
 letter-spacing:-1px;
}

#singleColumn a
{ 
 font-family:Arial, Helvetica, sans-serif; 
}

#singleColumn a:hover
{ 
 color:red;
 border-bottom:1px;
}

#singleColumn p 
{ 
 text-align:justify; 
}

#singleColumn h1
{ 
 font-size:30px; 
 font-weight:bold; 
 color:blue;
 font-family:Arial, Helvetica, sans-serif; 
}

#singleColumn h2
{ 
 margin-top:10px;
 text-align:left;
 font-size:25px; 
 font-weight:bold; 
}

#singleColumn li
{
 font-family:Arial, Helvetica, sans-serif; 
 letter-spacing:-1px;
}

