
/* PESSOAS.CSS - EXTENSION OF SITE LAYOUT */
@import url("site.css"); 

#singleColumn
{ 
 width:720px;
 margin-top:20px; 
 margin-bottom:30px;
 margin-left:30px;
 text-align:center; 
 font-size:13px; 
 letter-spacing:-1px;
}

#singleColumn a
{ 
 font-family:Arial, Helvetica, sans-serif; 
}

#singleColumn a:hover
{ 
 color:red;
 border-bottom:1px;
}

#singleColumn p 
{ 
 text-align:center; 
}

#singleColumn li
{
 font-size:14px;
 font-family:Arial, Helvetica, sans-serif; 
 text-decoration:none;
 color:black;
 letter-spacing:-1px;
 padding-left:15px;
 padding-bottom:8px;
 text-align:justify;
}

#singleColumn h1
{ 
 font-size:18px;
 font-weight:bold;
 text-align:left;
 color:black;
 border-bottom: 1px solid blue;
 width:740px;
}

#singleColumn h2
{ 
 font-size:18px;
 text-align:justify;
 color:black;
}

#singleColumn img
{ 
 height:30px;
 text-align:center;
 color:black;
}

#singleColumn .col1
{ 
 float:left;
 width:32%;
 height:auto;
}

#singleColumn .col2
{ 
 float:left;
 margin-left:15px;
 width:32%;
 height:auto;
}

#singleColumn .col3
{ 
 float:right;
 width:32%;
 height:auto;
}

#twoColumns 
{ 
 padding-top:20px;
 height:300px;
}

#twoColumns img
{ 
 display:block;
 margin-left:auto;
 margin-right:auto;
 border-style:solid;
 border-width:3px;
 border-color:gray; 
 height:300px;
}

#twoColumns p
{ 
 font-size:14px;
 text-align:justify;
 padding-top:-10px;
 padding-bottom:0px;
 color:black;
}

#twoColumns b
{ 
 font-size:14px;
 text-align:justify;
 color:gray;
}

#twoColumns h1
{ 
 height:15px;
 font-weight:bold;
 font-size:22px;
 text-align:left;
 color:black;
}

#twoColumns h2
{ 
 padding-top:10px;
 font-size:16px;
 text-align:left;
 color:black;
}

#twoColumns .left
{ 
 padding-left:60px;
 float:left;
 width:30%;
}

#twoColumns .right
{ 
 float:right;
 width:60%;
}

#block
{ 
 width:230px;
 height:40px;
}

#block img
{ 
 display:block;
 margin-left:auto;
 margin-right:auto;
}

#block h1
{ 
 font-size:18px;
 color:black;
}

#block p
{ 
 font-size:14px;
 text-align:justify;
 margin-top:5px;
 color:black;
}

#block a
{ 
 font-size:14px;
 text-align:justify;
 margin-top:5px;
 color:black;
 text-decoration:none;
}

#block a.hover
{ 
 font-size:14px;
 text-align:justify;
 margin-top:5px;
 color:red;
}

#block .left
{ 
 width:15%;
 float:left;
 height:auto 
}

#block .right
{ 
 width:80%;
 float:right;
 height:auto 
}

