
/* PESSOAS.CSS - EXTENSION OF SITE LAYOUT */
@import url("site.css"); 

#singleColumn
{ 
 width:800px;
 margin-top:20px; 
 margin-left:30px;
 text-align:center; 
 font-size:13px; 
 letter-spacing:-1px;
 height:auto;
}

#singleColumn a
{ 
 font-family:Arial, Helvetica, sans-serif; 
}

#singleColumn a:hover
{ 
 color:#990000;
}

#singleColumn p 
{ 
 text-align:center; 
}

#singleColumn li
{
 font-size:14px;
 font-family:Arial, Helvetica, sans-serif; 
 text-decoration:none;
 color:black;
 letter-spacing:-1px;
 padding-left:15px;
 padding-bottom:8px;
 text-align:justify;
}

#singleColumn h1
{ 
 font-size:18px;
 font-weight:bold;
 text-align:left;
 color:black;
 border-bottom: 1px solid #990000;
 width:820px;
}

#singleColumn h2
{ 
 font-size:18px;
 text-align:justify;
 color:black;
}

#singleColumn img
{ 
 height:30px;
 text-align:center;
 color:black;
}

#singleColumn .col1
{ 
 float:left;
 width:32%;
 height:auto;
}

#singleColumn .col2
{ 
 float:left;
 margin-left:15px;
 width:32%;
 height:auto;
}

#singleColumn .col3
{ 
 float:right;
 width:32%;
 height:auto;
}

#twoColumns 
{ 
 padding-top:20px;
 height:1300px;
}

#twoColumns img
{ 
 display:block;
 margin-left:auto;
 margin-right:auto;
 border-style:solid;
 border-width:1px;
 border-color:#990000; 
 height:300px;
 padding: 0.1px;
 border-radius:6px;
 -webkit-box-shadow: 0px 0px 26px -2px rgba(0,0,0,1);
 -moz-box-shadow: 0px 0px 26px -2px rgba(0,0,0,1);
 box-shadow: 0px 0px 26px -2px rgba(0,0,0,1);
}

#twoColumns p
{ 
 font-size:14px;
 text-align:justify;
 padding-top:-10px;
 padding-bottom:0px;
 color:black;
}

#twoColumns b
{ 
 font-size:14px;
 text-align:justify;
 color:#990000;
}

#twoColumns h1
{ 
 height:15px;
 font-weight:bold;
 font-size:22px;
 text-align:left;
 color:black;
}

#twoColumns h2
{ 
 padding-top:10px;
 font-size:16px;
 text-align:left;
 color:black;
}

#twoColumns .left
{ 
 padding-left:60px;
 float:left;
 width:30%;
}

#twoColumns .right
{ 
 float:right;
 width:60%;
}

#twoColumns .right a
{ 
 text-decoration:underline;
 color: black;
}

#twoColumns .right h2
{ 
 color: #990000;
}

#twoColumns .right a:hover
{ 
 color: #990000;
}

#block
{ 
 width:230px;
 height:30px;
 margin-bottom:10px;
}

#block img
{ 
 display:block;
 margin-left:auto;
 margin-right:auto;
}

#block h1
{ 
 font-size:18px;
 color:black;
}

#block p
{ 
 font-size:14px;
 text-align:justify;
 margin-top:5px;
 color:black;
}

#block a
{ 
 font-size:14px;
 text-align:justify;
 margin-top:5px;
 color:black;
 text-decoration:none;
}

#block a.hover
{ 
 font-size:14px;
 text-align:justify;
 margin-top:5px;
 color:#990000;
}

#block .left
{ 
 width:15%;
 float:left;
 height:auto 
}

#block .right
{ 
 width:80%;
 float:right;
 height:auto 
}

#singleColumnPlus
{ 
 width:800px;
 margin-top:20px; 
 margin-left:30px;
 text-align:center; 
 font-size:13px; 
 letter-spacing:-1px;
 height:120px;
}

#singleColumnPlus a
{ 
 font-family:Arial, Helvetica, sans-serif; 
}

#singleColumnPlus a:hover
{ 
 color:#990000;
}

#singleColumnPlus p 
{ 
 text-align:center; 
}

#singleColumnPlus li
{
 font-size:14px;
 font-family:Arial, Helvetica, sans-serif; 
 text-decoration:none;
 color:black;
 letter-spacing:-1px;
 padding-left:15px;
 padding-bottom:8px;
 text-align:justify;
}

#singleColumnPlus h1
{ 
 font-size:18px;
 font-weight:bold;
 text-align:left;
 color:black;
 border-bottom: 1px solid #990000;
 width:820px;
}

#singleColumnPlus h2
{ 
 font-size:18px;
 text-align:justify;
 color:black;
}

#singleColumnPlus img
{ 
 height:30px;
 text-align:center;
 color:black;
}

#singleColumnPlus .col1
{ 
 float:left;
 width:32%;
 height:auto;
}

#singleColumnPlus .col2
{ 
 float:left;
 margin-left:15px;
 width:32%;
 height:auto;
}

#singleColumnPlus .col3
{ 
 float:right;
 width:32%;
 height:auto;
}




#singleColumnAlumni
{ 
 width:800px;
 margin-top:20px; 
 margin-left:30px;
 text-align:center; 
 font-size:13px; 
 letter-spacing:-1px;
 height:200px;
}

#singleColumnAlumni a
{ 
 font-family:Arial, Helvetica, sans-serif; 
}

#singleColumnAlumni a:hover
{ 
 color:#990000;
}

#singleColumnAlumni p 
{ 
 text-align:center; 
}

#singleColumnAlumni li
{
 font-size:14px;
 font-family:Arial, Helvetica, sans-serif; 
 text-decoration:none;
 color:black;
 letter-spacing:-1px;
 padding-left:15px;
 padding-bottom:8px;
 text-align:justify;
}

#singleColumnAlumni h1
{ 
 font-size:18px;
 font-weight:bold;
 text-align:left;
 color:black;
 border-bottom: 1px solid #990000;
 width:820px;
}

#singleColumnAlumni h2
{ 
 font-size:18px;
 text-align:justify;
 color:black;
}

#singleColumnAlumni img
{ 
 height:30px;
 text-align:center;
 color:black;
}

#singleColumnAlumni .col1
{ 
 float:left;
 width:32%;
 height:auto;
}

#singleColumnAlumni .col2
{ 
 float:left;
 margin-left:15px;
 width:32%;
 height:auto;
}

#singleColumnAlumni .col3
{ 
 float:right;
 width:32%;
 height:auto;
}
