
/* PESQUISA.CSS - EXTENSION OF SITE LAYOUT */
@import url("site.css"); 

#page
{ 
 width:820px;
 margin-top:10px;
 margin-bottom:120px;
 text-align:center; 
 font-size:13px; 
 letter-spacing:-1px;
}

#page a
{ 
 font-family:Arial, Helvetica, sans-serif; 
 color:black;
 text-decoration:none;
}

#page a:hover
{ 
 color:red;
 border-bottom:1px;
}

#page p 
{ 
 text-align:left; 
}

#page h1 
{ 
 font-size:20px;
 font-weight:bold;
 text-align:justify;
 margin-left:10px;
 margin-bottom:10px;
 color:black;
 border-bottom: 1px solid blue;
 width:820px;
}

#page h2
{ 
 font-size:18px;
 font-weight:bold;
 text-align:justify;
 margin-left:40px;
 margin-bottom:10px;
 color:black;
 border-bottom: 1px solid black;
 width:120px;
}

#page .left
{ 
 margin-top:10px;
 margin-left:40px;
 float:left;
 width:40%;
}

#page .right
{ 
 margin-top:10px;
 float:right;
 width:48%;
}


#page li
{
 font-size:16px;
 font-family:Arial, Helvetica, sans-serif;
 text-decoration:none;
 color:black;
 letter-spacing:-1px;
 padding-left:0px;
 text-align:justify;
}

#item
{ 
 text-align: justify;
 text-align:center; 
 padding-top:10px;
 padding-bottom:60px;
}

#item p
{
 text-align:justify;
 color:black;
}

#item b
{
 color:black;
 font-weight:bold;
}

#item li
{ 
 font-size:14px;
 padding-left:20px;
 text-align:justify;
 color:black;
}

#item h1
{ 
 font-size:18px;
 text-align:justify;
 padding-top:40px;
 color:black;
}

#item img
{ 
 display:block;
 height:25px;
 margin-left:auto;
 margin-right:auto;
}

#block
{ 
 margin-left:60px;
 width:780px;
 height:35px;
}

#block img
{ 
 display:block;
 margin-left:auto;
 height:25px;
}

#block h1
{ 
 font-size:18px;
 color:black;
}

#block p
{ 
 font-size:14px;
 text-align:justify;
 color:black;
}

#block li
{ 
 font-size:14px;
 text-align:justify;
 text-decoration:none;
 color:black;
}

#block a
{ 
 font-size:14px;
 text-align:justify;
 text-decoration:none;
 color:black;
}

#block .col1
{ 
 float:left;
 width:4%;
}
#block .col2
{ 
 float:left;
 width:5%;
}

#block .col3
{ 
 float:right;
 width:89%;
 /*background:green;*/
}

#block .imgLeft
{ 
 display:block;
 float:left;
 padding-left:15px;
 width:40%;
 /*background:red;*/
}

#block .imgRight
{ 
 display:block;
 float:right;
 padding-right:15px;
 width:40%;
 /*background:green;*/
}

#simple
{ 
 font-size:30px;
 margin-left:120px;
 margin-right:120px;
 margin-bottom:20px;
 margin-top:20px;
 text-align:justify;
 text-decoration:none;
 letter-spacing:0px;
 color:black;
 height:auto;
}

#simple h1
{ 
 font-size:22px;
 font-weight:bold;
 width:450px;
 margin-left:60px;
 text-align:center;
 color:black;
}

#simple p
{ 
 font-size:14px;
 text-align:justify;
 color:black;
}

#simple img
{ 
 display:block;
 margin-left:auto;
 margin-right:auto;
}

