{% extends "base.j2" %}
{% from "macros.j2" import render_article with context  %}

{% block main %}
<head>
<link rel="stylesheet" href="{{ media_url('css/publicacoes.css') }}">
</head>

{% for res in resource.node.walk_resources_sorted_by_time() %}
 {{ render_article(res) }}
{% endfor %}

{% endblock %}

