{% extends "base_en.j2" %}
{% from "macros_en.j2" import render_course with context  %}

{% block main %}
<head>
<link rel="stylesheet" href="{{ media_url('css/cursos.css') }}">
</head>

<div id="page">
  <h1> Masters/phd seminar presentations - FEN03-705 </h1>
    {% set years = range(2015, 2014, -1) -%}
    {% for year in years -%}
      <h2> {{ year }} </h2>

      {% for res in resource.node.walk_resources_sorted_by_time() if res.meta.Year == year -%}
        {{ render_course(res) }}
      {% endfor %}

    {% endfor %}
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div id="page">
  <h1> Transport Phenomena - FEN03-02040 </h1>
    <div class="left">
	  <li> <a href={{ media_url('pdf/courses/fentran/ementa.pdf') }}> 
	  ementa </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/diario.pdf') }}> 
	  course content </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/aula1.pdf') }}> 
	  1st. lecture </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/bibliografia.pdf') }}> 
	  bibliography </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/stats.pdf') }}> 
	  statistics </a> </li>
    </div>
    <div class="right">
	  <li> <a href={{ media_url('pdf/courses/fentran/lista1.pdf') }}> 
	  Task list I </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/lista2.pdf') }}> 
	  Task list II </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/solucao-lista1.pdf') }}> 
	  Solution of task list I </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/solucao-lista2.pdf') }}> 
	  Solution of task list II </a> </li>
    </div>
</div>


<div id="page">
  <h1> Heat Transfer I - FEN03-05190 </h1>
    <div class="left">
	  <li> <a href={{ media_url('pdf/courses/transcal1/ementa.pdf') }}> 
	  ementa </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal1/diario.pdf') }}> 
	  course content </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal1/aula1.pdf') }}> 
	  1st. lecture </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal1/bibliografia.pdf') }}> 
	  bibliography </a> </li>
    </div>
    <div class="right">
	  <li> <a href={{ media_url('pdf/courses/transcal1/exercicios-p1.pdf') }}> 
	  Task list I </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal1/exercicios-p2.pdf') }}> 
	  Task list II </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal1/intro-mef.pdf') }}> 
	  introduction to FEM </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal1/exercicio-mef.pdf') }}> 
	  task MEF </a> </li>
    </div>
</div>

<div id="page">
  <h1> Heat Transfer II - FEN03-05217 </h1>
    <div class="left">
	  <li> <a href={{ media_url('pdf/courses/transcal2/ementa.pdf') }}> 
	  ementa </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal2/diario.pdf') }}> 
	  course content </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal2/aula1.pdf') }}> 
	  1st. lecture </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal2/bibliografia.pdf') }}> 
	  bibliography </a> </li>
    </div>
    <div class="right">
	  <li> <a href={{ media_url('pdf/courses/multiphase/nusselt.pdf') }}> 
	  Nusselt's analysis </a> </li>
    </div>
</div>


<div id="page">
  <h1> Multiphase Flows (masters/phd) - FEN03-711 </h1>
    <div class="left">
	  <li> <a href={{ media_url('pdf/courses/multiphase/ementa.pdf') }}> 
	  ementa </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/diario.pdf') }}> 
	  course content </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/notes.pdf') }}> 
	  course notes </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/nusselt.pdf') }}> 
	  Nusselt's analysis </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/project.pdf') }}> 
	  final course task </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/bibliografia.pdf') }}> 
	  bibliography </a> </li>
    </div>
    <div class="right">
	  <li> <a href={{ media_url('pdf/courses/multiphase/aula1.pdf') }}> 
	  1st. lecture </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/aula2.pdf') }}> 
	  2nd. lecture </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/aula3.pdf') }}> 
	  3rd. lecture </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/aula4.pdf') }}> 
	  4th. lecture </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/aula6.pdf') }}> 
	  6th. lecture </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/aula8.pdf') }}> 
	  8th. lecture </a> </li>
</div>

<div id="page">
  <h1> Fluid Dynamics - FEN03-01248 </h1>
    <div class="left">
	  <li> <a href={{ media_url('pdf/courses/dinflu/ementa.pdf') }}> 
	  ementa </a> </li>
	  <li> <a href={{ media_url('pdf/courses/dinflu/diario.pdf') }}> 
	  course content </a> </li>
	  <li> <a href={{ media_url('pdf/courses/dinflu/aula1.pdf') }}> 
	  1st. lecture </a> </li>
	  <li> <a href={{ media_url('pdf/courses/dinflu/bibliografia.pdf') }}> 
	  bibliography </a> </li>
    </div>
</div>

{% endblock %}

