{% extends "base.j2" %}
{% from "macros.j2" import render_course with context  %}

{% block main %}
<head>
<link rel="stylesheet" href="{{ media_url('css/cursos.css') }}">
</head>

<div id="page">
  <h1> Semin&aacute;rios de Mestrado/Doutorado - FEN03-705 </h1>
    {% set years = range(2015, 2014, -1) -%}
    {% for year in years -%}
      <h2> {{ year }} </h2>

      {% for res in resource.node.walk_resources_sorted_by_time() if res.meta.Year == year -%}
        {{ render_course(res) }}
      {% endfor %}
    {% endfor %}
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div id="page">
  <h1> Fen&ocirc;menos de Transporte - FEN03-02040 </h1>
    <div class="left">
	  <li> <a href={{ media_url('pdf/courses/fentran/ementa.pdf') }}> 
	  ementa </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/diario.pdf') }}> 
	  conte&uacute;do do curso </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/aula1.pdf') }}> 
	  1a. aula </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/bibliografia.pdf') }}> 
	  bibliografia </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/stats.pdf') }}> 
	  estat&iacute;stica </a> </li>
    </div>
    <div class="right">
	  <li> <a href={{ media_url('pdf/courses/fentran/lista1.pdf') }}> 
	  lista de exerc&iacute;cios I </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/lista2.pdf') }}> 
	  lista de exerc&iacute;cios II </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/solucao-lista1.pdf') }}> 
	  solu&ccedil;&atilde;o da lista de exerc&iacute;cios I </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/solucao-lista2.pdf') }}> 
	  solu&ccedil;&atilde;o da lista de exerc&iacute;cios II </a> </li>
    </div>
</div>


<div id="page">
  <h1> Transfer&ecirc;ncia de Calor I - FEN03-05190 </h1>
    <div class="left">
	  <li> <a href={{ media_url('pdf/courses/transcal1/ementa.pdf') }}> 
	  ementa </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal1/diario.pdf') }}> 
	  conte&uacute;do do curso </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal1/aula1.pdf') }}> 
	  1a. aula </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal1/bibliografia.pdf') }}> 
	  bibliografia </a> </li>
    </div>
    <div class="right">
	  <li> <a href={{ media_url('pdf/courses/transcal1/exercicios-p1.pdf') }}> 
	  lista de exerc&iacute;cios I </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal1/exercicios-p2.pdf') }}> 
	  lista de exerc&iacute;cios II </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal1/intro-mef.pdf') }}> 
	  introdu&ccedil;&atilde;o ao MEF </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal1/exercicio-mef.pdf') }}> 
	  exerc&iacute;cio MEF </a> </li>
    </div>
</div>

<div id="page">
  <h1> Transfer&ecirc;ncia de Calor II - FEN03-05217 </h1>
    <div class="left">
	  <li> <a href={{ media_url('pdf/courses/transcal2/ementa.pdf') }}> 
	  ementa </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal2/diario.pdf') }}> 
	  conte&uacute;do do curso </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal2/aula1.pdf') }}> 
	  1a. aula </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal2/bibliografia.pdf') }}> 
	  bibliografia </a> </li>
    </div>
    <div class="right">
	  <li> <a href={{ media_url('pdf/courses/multiphase/nusselt.pdf') }}> 
	  an&aacute;lise de Nusselt </a> </li>
    </div>
</div>

<div id="page">
  <h1> Equa&ccedil;&otilde;es Diferenciais Ordin&aacute;rias e
  &Aacute;lgebra Linear (mestrado/doutorado) - FEN03-9232 </h1>
    <div class="left">
	  <li> <a href={{ media_url('pdf/courses/ode/ementa.pdf') }}> 
	  ementa </a> </li>
	  <li> <a href={{ media_url('pdf/courses/ode/aula1.pdf') }}> 
	  1a. aula </a> </li>
    </div>
    <div class="right">
	  <li> <a href={{ media_url('pdf/courses/ode/Topicos_lista1.pdf') }}> 
	  lista de exerc&iacute;cios I </a> </li>
	  <li> <a href={{ media_url('pdf/courses/ode/Topicos_lista2.pdf') }}> 
	  lista de exerc&iacute;cios II </a> </li>
	  <li> <a href={{ media_url('pdf/courses/ode/Topicos_lista3.pdf') }}> 
	  lista de exerc&iacute;cios III </a> </li>
    </div>
</div>

<div id="page">
  <h1> Escoamentos Multif&aacute;sicos (mestrado/doutorado) - FEN03-711 </h1>
    <div class="left">
	  <li> <a href={{ media_url('pdf/courses/multiphase/ementa.pdf') }}> 
	  ementa </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/diario.pdf') }}> 
	  conte&uacute;do do curso </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/notes.pdf') }}> 
	  notas de aula </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/nusselt.pdf') }}> 
	  an&aacute;lise de Nusselt </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/project.pdf') }}> 
	  projeto de fim de curso </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/bibliografia.pdf') }}> 
	  bibliografia </a> </li>
    </div>
    <div class="right">
	  <li> <a href={{ media_url('pdf/courses/multiphase/aula1.pdf') }}> 
	  1a. aula </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/aula2.pdf') }}> 
	  2a. aula </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/aula3.pdf') }}> 
	  3a. aula </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/aula4.pdf') }}> 
	  4a. aula </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/aula6.pdf') }}> 
	  6a. aula </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/aula8.pdf') }}> 
	  8a. aula </a> </li>
    </div>
</div>

<div id="page">
  <h1> Din&acirc;mica dos Fluidos - FEN03-01248 </h1>
    <div class="left">
	  <li> <a href={{ media_url('pdf/courses/dinflu/ementa.pdf') }}> 
	  ementa </a> </li>
	  <li> <a href={{ media_url('pdf/courses/dinflu/diario.pdf') }}> 
	  conte&uacute;do do curso </a> </li>
	  <li> <a href={{ media_url('pdf/courses/dinflu/aula1.pdf') }}> 
	  1a. aula </a> </li>
	  <li> <a href={{ media_url('pdf/courses/dinflu/bibliografia.pdf') }}> 
	  bibliografia </a> </li>
    </div>
</div>

{% endblock %}

