{% extends "base_en.j2" %}
{% from "macros_en.j2" import render_course with context  %}

{% block main %}
<head>
<link rel="stylesheet" href="{{ media_url('css/cursos.css') }}">
</head>

<div id="page">
  <h1> Fluid Dynamics - FEN03-01248 </h1>
    <div class="left">
	  <li> <a href={{ media_url('pdf/courses/dinflu/ementa.pdf') }}> 
	  ementa </a> </li>
	  <li> <a href={{ media_url('pdf/courses/dinflu/bibliografia.pdf') }}> 
	  bibliography </a> </li>
    </div>
</div>

<div id="page">
  <h1> Transport Phenomena - FEN03-02040 </h1>
    <div class="left">
	  <li> <a href={{ media_url('pdf/courses/fentran/ementa.pdf') }}> 
	  ementa </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/diario.pdf') }}> 
	  course content </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/aula1.pdf') }}> 
	  1st. lecture </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/bibliografia.pdf') }}> 
	  bibliography </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/stats.pdf') }}> 
	  **new** statistics </a> </li>
    </div>
    <div class="right">
	  <li> <a href={{ media_url('pdf/courses/fentran/lista1.pdf') }}> 
	  Exercise list I </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/lista2.pdf') }}> 
	  Exercise list II </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/solucao-lista1.pdf') }}> 
	  Solution of exercise list I </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/solucao-lista2.pdf') }}> 
	  Solution of exercise list II </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/nota-presenca.pdf') }}> 
	  final grades and frequency - class 5 </a> </li>
	  <li> <a href={{ media_url('pdf/courses/fentran/nota-presenca.pdf') }}> 
	  final grades and frequency - class 6 </a> </li>
    </div>
</div>

<p>&nbsp;</p>

<div id="page">
  <h1> Heat Transfer I - FEN03-05190 </h1>
    <div class="left">
	  <li> <a href={{ media_url('pdf/courses/transcal1/ementa.pdf') }}> 
	  ementa </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal1/diario.pdf') }}> 
	  course content </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal1/aula1.pdf') }}> 
	  1st. lecture </a> </li>
	  <li> <a href={{ media_url('pdf/courses/transcal1/bibliografia.pdf') }}> 
	  bibliography </a> </li>
    </div>
</div>

<p>&nbsp;</p>

<div id="page">
  <h1> Multiphase Flows (master/phd) - FEN03-711 </h1>
    <div class="left">
	  <li> <a href={{ media_url('pdf/courses/multiphase/ementa.pdf') }}> 
	  ementa </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/diario.pdf') }}> 
	  course content </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/aula1.pdf') }}> 
	  1st. lecture </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/notes.pdf') }}> 
	  course notes </a> </li>
	  <li> <a href={{ media_url('pdf/courses/multiphase/bibliografia.pdf') }}> 
	  bibliography </a> </li>
    </div>
</div>

<p>&nbsp;</p>

<div id="page">
  <h1> coursess of Master and PhD - FEN03-705 </h1>
    {% set years = range(2015, 2014, -1) -%}
    {% for year in years -%}
      <h2> {{ year }} </h2>

      {% for res in resource.node.walk_resources_sorted_by_time() if res.meta.Year == year -%}
        {{ render_course(res) }}
      {% endfor %}

    {% endfor %}
</div>

{% endblock %}

