{% extends "base.j2" %}
{% from "macros.j2" import render_excerpt with context  %}

{% block main %}
<head>
<link rel="stylesheet" href="{{ media_url('css/pesquisa.css') }}">
</head>



{% for res in resource.node.walk_resources_sorted_by_time() %}
<div id="singleColumn">
 <div id="block" {{ render_excerpt(res) }} > </div>
{% endfor %}
</div>
{% endblock %}

