
{% macro render_excerpt(res, class=None) %}
{% refer to res.relative_path as post %}
<div id="singleColumn">
<h1 href="{{ content_url(res.url) }}">{{ res.meta.title }}</h1>
<div id="block">
 <div class="left">
  <div class="imgLeft">
   {{ post.img1|markdown|typogrify }}
  </div>
  <div class="imgRight">
   {{ post.img2|markdown|typogrify }}
  </div>
  <div class="imgLeft">
   {{ post.img3|markdown|typogrify }}
  </div>
  <div class="imgRight">
   {{ post.img4|markdown|typogrify }}
  </div>
 </div>
 <div class="right">
  {{ post.excerpt|markdown|typogrify }}
  <br>
  {{ post.link|markdown|typogrify }}
 </div>
</div>
</div>
{% endmacro %}

{% macro render_article(res, class=None) %}
 <div id="block">
  <div class="left">
   <a href={{ media_url('/pdf/research/') }}{{ res.meta.File }}> 
   <img src={{ media_url('images/pdf-icon.png') }} ></a>
  </div>
  <div class="right">

   {% if res.meta.Type == 'Chapter' -%}
	<p> {{ res.meta.Author}}, 
	<b> {{ res.meta.Title }},</b>
	{{res.meta.Book }}, 
	{{ res.meta.Publisher }}, 
	<b> {{ res.meta.Year }} </b> </p>
   {%- endif %}
   {% if res.meta.Type == 'Journal' -%}
    <p> {{ res.meta.Author }}, 
	<b> {{ res.meta.Title }}</b>, 
    {{ res.meta.Journal }}, 
	<b> {{ res.meta.Year }} </b> </p>
   {%- endif %}
   {% if res.meta.Type == 'Congress' -%}
    <p> {{ res.meta.Author }}, 
	<b> {{ res.meta.Title }}</b>, 
    {{ res.meta.Congress}}, 
	<b> {{ res.meta.Year }} </b> </p>
   {%- endif %}
   {% if res.meta.Type == 'Report' -%}
    <p> {{ res.meta.Author }}, 
	<b> {{ res.meta.Title }}</b>, 
    {{ res.meta.Place}}, 
	<b> {{ res.meta.Year }} </b> </p>
   {%- endif %}
   {% if res.meta.Type == 'Book' -%}
    <p> {{ res.meta.Author }}, 
	<b> {{ res.meta.Title }}</b>, 
    {{ res.meta.Book}}, 
	<b> {{ res.meta.Year }} </b> </p>
   {%- endif %}
   {% if res.meta.Type == 'BSc' -%}
    <p> {{ res.meta.Author }}, 
	<b> {{ res.meta.Title }}</b>, 
	{{ res.meta.Place }}, 
	<b> {{ res.meta.Year }} </b> </p>
   {%- endif %}
   {% if res.meta.Type == 'MSc' -%}
    <p> {{ res.meta.Author }}, 
	<b> {{ res.meta.Title }}</b>, 
    {{ res.meta.Place }}, 
	<b> {{ res.meta.Year }} </b> </p>
   {%- endif %}
   {% if res.meta.Type == 'PhD' -%}
    <p> {{ res.meta.Author }}, 
	<b> {{ res.meta.Title }}</b>, 
    {{ res.meta.Place }}, 
	<b> {{ res.meta.Year }} </b> </p>
   {%- endif %}
  </div>
 </div>
{% endmacro %}

{% macro render_person(res, class=None) %}
 <div id="block">
  <div class="left">
   <img src={{ media_url('images/people/') }}{{ res.meta.idt }}.jpg >
  </div>
  <div class="right">
	<p> <a href= {{ res.url }} > {{ res.meta.name }} </a> </p>
  </div>
 </div>
{% endmacro %}

{% macro render_seminar(res, class=None) %}
 <div id="block">
  <div class="col1">
   <a href={{ media_url('/pdf/seminar/') }}{{ res.meta.Year}}/{{ res.meta.Month }}/{{ res.meta.Pdf }}> 
   <img src={{ media_url('images/pdf-icon.png') }} ></a>
  </div>
  <div class="col2">
   <a href={{ media_url('/pdf/seminar/') }}{{ res.meta.Year}}/{{ res.meta.Month }}/{{ res.meta.Ppt }}> 
   <img src={{ media_url('images/ppt-icon.png') }} ></a>
  </div>
  <div class="col3">

    <p> {{ res.meta.FirstAuthor }}, 
	<b> {{ res.meta.Title }}</b>, 
    {{ res.meta.Month }}.{{ res.meta.Day }}.{{ res.meta.Year }} </p>
  </div>
 </div>
{% endmacro %}

{% macro render_nav(menu, cls=None) -%}
{% if menu -%}
<nav {{'class='~cls if cls }}>
    <ul>
        {% for item in menu -%}
        {% set active = False -%}
        {% if item.type == 'page' -%}
            {% set active = (resource.url ==
                site.content.resource_from_relative_path(item.url_en).url) -%}
        {% else -%}
            {% set active = (node ==
                site.content.node_from_relative_path(item.url_en)) -%}
        {%- endif %}
        {% set classes = ['button', 'white'] -%}
        {% do classes.append('active') if active -%}
        {% do classes.append(item.css_class) if item.css_class -%}
        <li>
            <a title="{{ item.description }}"
                class="{{ classes|join(' ') }}"
                href="{{ content_url(item.url_en) }}">
                {{ item.name_en }}
            </a>
        </li>
        {%- endfor %}
    </ul>
</nav>
{%- endif %}
{%- endmacro %}
