{% extends "base_en.j2" %}
{% from "macros_en.j2" import render_person with context  %}

{% block main %}
<head>
<link rel="stylesheet" href="{{ media_url('css/pessoas.css') }}">
</head>

<div id="singleColumnPlus">
{% for res in resource.node.walk_resources_sorted_by_time() %}
{%- if res.meta.level == "professor" %}
<h1> Professors </h1>
{% break%}{% endif %}{% endfor %}
<p>&nbsp;</p>
{% set count = 1 %}
{% for res in resource.node.walk_resources_sorted_by_time() if res.meta.level == "professor" -%}
  <div class=col{{count}}>
    {{ render_person(res) }}
  </div>
  {% set count = count + 1 %}
  {% if count > 3 -%} {% set count = 1 -%}{% endif %}
{% endfor %}
</div>

<div id="singleColumnPlus">
{% for res in resource.node.walk_resources_sorted_by_time() %}
{%- if (res.meta.level == "admin" or res.meta.level == "tec") %}
<h1> Research support </h1>
{% break%}{% endif %}{% endfor %}
<p>&nbsp;</p>
{% set count = 1 %}
{% for res in resource.node.walk_resources_sorted_by_time() if (res.meta.level == "admin" or res.meta.level == "tec") -%}
  <div class=col{{count}}>
    {{ render_person(res) }}
  </div>
  {% set count = count + 1 %}
  {% if count > 3 -%} {% set count = 1 -%}{% endif %}
{% endfor %}
</div>


<div id="singleColumnPlus">
{% for res in resource.node.walk_resources_sorted_by_time() %}
{%- if res.meta.level == "research" %}
<h1> Researchers </h1>
{% break%}{% endif %}{% endfor %}
<p>&nbsp;</p>
{% set count = 1 %}
{% for res in resource.node.walk_resources_sorted_by_time() if res.meta.level == "research" -%}
  <div class=col{{count}}>
    {{ render_person(res) }}
  </div>
  {% set count = count + 1 %}
  {% if count > 3 -%} {% set count = 1 -%}{% endif %}
{% endfor %}
</div>


<div id="singleColumnPlus">
{% for res in resource.node.walk_resources_sorted_by_time() %}
{%- if res.meta.level == "phd" %}
<h1> Doctoral students </h1>
{% break%}{% endif %}{% endfor %}
<p>&nbsp;</p>
{% set count = 1 %}
{% for res in resource.node.walk_resources_sorted_by_time() if res.meta.level == "phd" -%}
  <div class=col{{count}}>
    {{ render_person(res) }}
  </div>
  {% set count = count + 1 %}
  {% if count > 3 -%} {% set count = 1 -%}{% endif %}
{% endfor %}
</div>


<div id="singleColumnPlus">
{% for res in resource.node.walk_resources_sorted_by_time() %}
{%- if res.meta.level == "msc" %}
<h1> Masters students </h1>
{% break%}{% endif %}{% endfor %}
<p>&nbsp;</p>
{% set count = 1 %}
{% for res in resource.node.walk_resources_sorted_by_time() if res.meta.level == "msc" -%}
  <div class=col{{count}}>
    {{ render_person(res) }}
  </div>
  {% set count = count + 1 %}
  {% if count > 3 -%} {% set count = 1 -%}{% endif %}
{% endfor %}
</div>


<div id="singleColumnPlus">
{% for res in resource.node.walk_resources_sorted_by_time() %}
{%- if res.meta.level == "grad" %}
<h1> Undergraduate research </h1>
{% break%}{% endif %}{% endfor %}
<p>&nbsp;</p>
{% set count = 1 %}
{% for res in resource.node.walk_resources_sorted_by_time() if res.meta.level == "grad" -%}
  <div class=col{{count}}>
    {{ render_person(res) }}
  </div>
  {% set count = count + 1 %}
  {% if count > 3 -%} {% set count = 1 -%}{% endif %}
{% endfor %}
</div>

<div id="singleColumnPlus">
{% for res in resource.node.walk_resources_sorted_by_time() %}
{%- if res.meta.level == "trainee" %}
<h1> Trainee </h1>
{% break%}{% endif %}{% endfor %}
<p>&nbsp;</p>
{% set count = 1 %}
{% for res in resource.node.walk_resources_sorted_by_time() if res.meta.level == "trainee" -%}
  <div class=col{{count}}>
    {{ render_person(res) }}
  </div>
  {% set count = count + 1 %}
  {% if count > 3 -%} {% set count = 1 -%}{% endif %}
{% endfor %}
</div>

<div id="singleColumnAlumni">
{% for res in resource.node.walk_resources_sorted_by_time() %}
{%- if res.meta.level == "alumni" %}
<h1> Alumni </h1>
{% break%}{% endif %}{% endfor %}
<p>&nbsp;</p>
{% set count = 1 %}
{% for res in resource.node.walk_resources_sorted_by_time() if res.meta.level == "alumni" -%}
  <div class=col{{count}}>
    {{ render_person(res) }}
  </div>
  {% set count = count + 1 %}
  {% if count > 3 -%} {% set count = 1 -%}{% endif %}
{% endfor %}
</div>

{% endblock %}

