{% extends "base.j2" %}
{% from "macros.j2" import render_course with context  %}

{% block main %}
<head>
<link rel="stylesheet" href="{{ media_url('css/cursos.css') }}">
</head>

<div id="seminar">
  <h1> Semin&aacute;rios de Mestrado/Doutorado - FEN03-705 </h1>
    {% set years = range(2016, 2014, -1) -%}
    {% for year in years -%}
      <h2> {{ year }} </h2>
      {% for res in resource.node.walk_resources_sorted_by_time() if res.meta.Year == year -%}
        {{ render_course(res) }}
      {% endfor %}
<p>&nbsp;</p>
<p>&nbsp;</p>
    {% endfor %}
</div>

{% endblock %}

