---
extends: base.j2
default_block: main
title: Pesquisa no GESAR
description: GESAR Home page
---
{% from "macros.j2" import render_article with context  %}


<head>
 <link rel="stylesheet" href="{{ media_url('css/publicacoes.css') }}">
</head>

<body>

 <div id="page">

 <p>&nbsp;</p>
  <h1>Trabalhos em revistas </h1>
 <p>&nbsp;</p>
 <p>&nbsp;</p>

 {% for res in resource.node.walk_resources_sorted_by_time() if res.meta.Type == 'Journal' -%}
  {{ render_article(res) }}
  {% endfor %}

 <p>&nbsp;</p>
 <p>&nbsp;</p>
  <h1>Capitulos de livro</h1>
 <p>&nbsp;</p>
 <p>&nbsp;</p>

 {% for res in resource.node.walk_resources_sorted_by_time() if res.meta.Type == 'Chapter' -%}
  {{ render_article(res) }}
  {% endfor %}

 <p>&nbsp;</p>
 <p>&nbsp;</p>
  <h1>Trabalhos de congressos</h1>
 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-024.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>Rachel M. Lucena, Norberto Mangiavacchi, Gustavo R. Anjos, and
	Jose Pontes. <b>Fem (finite element method) simulation of the
	 three-dimensional boundary layer close to a rotating semi-spherical
	 electrode in electrochemical cells</b>. Em Anais do International
	Congress of Mechanical Engineering (COBEM 2013), Rio de Janeiro, RJ,
	Brazil, <b>2013</b>. ABCM -- Associacao Brasileira de Ciencias e
	Engenharia Mecanica.</p>
   </div>
  </div>
 <p>&nbsp;</p>
 <p>&nbsp;</p>


  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-023.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>G. C. P. Oliveira, N. Mangiavacchi e J. Pontes. <b>Semi-Lagrangean
	 high-order 3D interpolation: Survey on a finite element Z-type
	 operator</b>. Em Anais do Brazilian Congress do Thermal Engineering and
	Sciences. ABCM -- Associacao Brasileira de Ciencias e Engenharia
	Mecanica, <b>2012</b>. (paper ENCIT2012-276).</p>
   </div>
  </div>
 <p>&nbsp;</p>
 <p>&nbsp;</p>


  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-022.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>C. D. Mendez, G. R. Anjos, N. Mangiavacchi e J. Pontes. <b>Effect do
	 finite domain on von Karman prdoiles in the neigborhood do rotating disk
	 electrodes</b>. Em Anais do Brazilian Congress do Thermal
	Engineering and Sciences. ABCM -- Associacao Brasileira de Ciencias e
	Engenharia Mecanica, <b>2012</b>. (paper ENCIT2012-025).</p>
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-021.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>E. L. S. Moraes, G. C. P. Oliveira, N. Mangiavacchi e J. Pontes.
	<b>Second order Semi-Lagrangean algorithms for the study do hydrodynamics
	 do electrochemical cells</b>. Em Anais do Brazilian Congress do
	Thermal Engineering and Sciences. ABCM -- Associacao Brasileira de
	Ciencias e Engenharia Mecanica, <b>2012</b>. (paper ENCIT2012-071).</p>
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-020.pdf') }}> <img
	 src={{ media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>R. M. Lucena, G. R. Anjos, N. Mangiavacchi e J. Pontes. <b>Hydrodynamics
	 do electrochemical cells with a rotating semi-spherical electrode</b>. Em
	Anais do Brazilian Congress do Thermal Engineering and
	Sciences. ABCM -- Associacao Brasileira de Ciencias e Engenharia
	Mecanica, <b>2012</b>. (paper ENCIT2012-016).</p>
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-019.pdf') }}> <img
	 src={{ media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>G. C. P. Oliveira, N. Mangiavacchi e J. Pontes. <b>A Semi-Lagrangean
	 scheme for fluid flow simulations with a Zienkiewicz-Type finite element
	 interpolation</b>. Em Anais do 21st International Congress do
	Mechanical Engineering, paginas 1--7, Rio de Janeiro, <b>2011</b>. ABCM -
	Associacao Brasileira de Ciencias e Engenharia Mecanica.</p>
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-018.pdf') }}> <img
	 src={{ media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>J. Pontes, N. Mangiavacchi, O. E. Barcia, G. R. Anjos, O. R.
	Mattos e B. Tribollet. <b>Modelling hydrodynamic stability in
	 electrochemical cells</b>. Em M. D. Todorov, editor, Applications
	do Mathematics in Engineering and Economics '34 -- AMEE '08, paginas
	131--144. American Emstitute do Physics, <b>2008</b>. DOI:
	10.1063/1.3030780.</p>
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-017.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>J. Pontes, G. R. Anjos e N. Mangiavacchi. <b>Finite element method
	 simulation do rotating disk flow: Effect do the transport do a chemical
	 species</b>. Em PAMM, paginas 2100041--2100042, Weinheim, <b>2007</b>. Wiley-VCH
	Verlag GmbH. DOI: 10.1002/pamm.<b>2007</b>00427.</p>
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-016.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>J. Pontes, N. Mangiavacchi e G. R. Anjos. <b>Hydrodynamic stability in
	 electrochemical cells</b>. Em Anais do X Encontro Modelagem Computacional,
	Nova Friburgo, RJ, Brasil, <b>2007</b>. Emstituto Politecnico/UERJ. (in CD -
	ISBN 978-85-85769-35-2).</p>
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-015.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>J. Pontes, N. Mangiavacchi, O. E. Barcia, O. R. Mattos e B.
	Tribollet. <b>Stability do the chemical and hydrodynamic fields close to a
	 rotating disk electrode: Non-synchronous perturbations</b>. Em Anais
	do Brazilian Congress do Thermal Engineering and Sciences. ABCM --
	Associacao Brasileira de Ciencias e Engenharia Mecanica, <b>2006</b>. (paper
	CIT06-0851 in CD).</p>
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-014.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>J. Pontes, N. Mangiavacchi, O. E. Barcia, O. R. Mattos e B.
	Tribollet. <b>Rotating disk flow stability in electrochemical cells: Effect
	 do the transport do a chemical specie</b>. Em Anais do 18th
	International Congress do Mechanical Engineering, Rio de Janeiro, RJ,
	Brasil, <b>2005</b>. ABCM -- Associacao Brasileira de Ciencias e Engenharia
	Mecanica. (paper in CD - ISBN 85-904971-1-9).</p>
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-013.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>J. Pontes, N. Mangiavacchi, O. E. Barcia, O. R. Mattos e B.
	Tribollet. <b>Chemical and hydrodynamic stability in electrochemical cells
	 with a rotating disk electrode</b>. Em Anais da IV Escola Brasileira de
	Primavera Transicao e Turbulencia, Porto Alegre, Brazil, <b>2004</b>. ABCM --
	Associacao Brasileira de Ciencias e Engenharia Mecanica.</p>
   </div>
  </div>
 <p>&nbsp;</p>
 <p>&nbsp;</p>


  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-012.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>J. Pontes, N. Mangiavacchi, O. E. Barcia, O. R. Mattos e B.
	Tribollet. <b>Stability do the chemical and hydrodynamic fields close to a
	 rotating disk electrode</b>. Em Anais do Brazilian Congress do
	Thermal Engineering and Sciences. ABCM -- Associacao Brasileira de
	Ciencias e Engenharia Mecanica, <b>2004</b>. (paper CIT04-0844 in CD).</p>
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-011.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>J. Pontes, N. Mangiavacchi, O. E. Barcia, O. R. Mattos e B.
	Tribollet. <b>O campo hidrodinamico e de concentracao de uma especie
	 quimica em celulas eletroquimicas</b>. Em Anais do VII Encontro Modelagem
	Computacional, Nova Friburgo, RJ, Brasil, <b>2004</b>. ABCM -- Associacao
	Brasileira de Ciencias e Engenharia Mecanica. (in CD - ISBN
	85-904971-1-9).</p>
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-010.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>J. Pontes, N. Mangiavacchi, A. R. Conceicao, O. E. Barcia, O. R. Mattos,
	and B. Tribollet. <b>Hydrodynamic stability in an electrochemical cell with
	 rotating disk electrode: Effect do a non-stationary viscosity prdoile</b>.
	Em Anais do 17th International Congress do Mechanical
	Engineering, Sao Paulo, SP, Brazil, <b>2003</b>. ABCM -- Associacao Brasileira
	de Ciencias e Engenharia Mecanica. (Paper 0634 in CD).</p>
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-009.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>J. Pontes, N. Mangiavacchi, Mila R. Avelino, Gustaf Akerman, and
	Michelle Bastos. <b>Experimental study do the stability do the boundary
	 layer over a rotataing disk, with viscosity variations in the boundary
	 layer</b>. Em Anais do 17th International Congress do Mechanical
	Engineering, Sao Paulo, SP, Brazil, <b>2003</b>. ABCM -- Associacao Brasileira
	de Ciencias e Engenharia Mecanica. (Paper 1569 in CD).</p>
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-008.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>F. Andrecioli, N. Mangiavacchi, J. Pontes e A. Castelo Filho.
	<b>Emstability do the flow over a rotataing disk with viscosity gradient:
	 Higher order predictor-corrector methods</b>. Em Anais do 17th
	International Congress do Mechanical Engineering, Sao Paulo, SP, Brazil,
	<b>2003</b>. ABCM -- Associacao Brasileira de Ciencias e Engenharia Mecanica.
	(Paper 0832 in CD).</p>
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-007.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>J. Pontes, N. Mangiavacchi, R. M. Niederauer Conceicao, A.
	R., O. E. Barcia, O. R. Mattos e B. Tribollet. <b>Rotating disk
	 flow stability with variable viscosity</b>. Em Anais do II
	Congresso Tematico de Dinamica, Controle e Aplicacoes, S. Jose dos
	Campos, Brzil, <b>2003</b>. SBMAC -- Braz. Soc. Appl. Math. Comp.
	Sci. (Paper in CD).</p> 
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-006.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>J. Pontes, N. Mangiavacchi, R. M. Niederauer Conceicao, A.
	R., O. E. Barcia, O. R. Mattos e B. Tribollet. <b>Computational
	 modelling opportunities in electrochemical systems</b>. Em Anais do
	VI Encontro Modelagem Computacional, Nova Friburgo, RJ, Brasil,
	<b>2003</b>. ABCM -- Associacao Brasileira de Ciencias e Engenharia
	Mecanica. (in CD - ISBN 85-903068-2-8).</p> 
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-005.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>J. Pontes, N. Mangiavacchi, A. R. Conceicao, O. E. Barcia,
	O. R. Mattos e B. Tribollet. <b>Hydrodynamic stability in an
	 electrochemical cell with a rotating disk electrode</b>. Em Anais
	do Brazilian Congress do Thermal Engineering and Sciences, Caxambu,
	MG, Brazil, <b>2002</b>. ABCM -- Associacao Brasileira de Ciencias e
	Engenharia Mecanica. (paper CIT02-0125 in CD).</p> 
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-004.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	 <p>J. Pontes, N. Mangiavacchi, A. R. Conceicao, O. E. Barcia,
	O. R. Mattos e B. Tribollet. <b>Rotating disk flow stability in
	 eletrochemical cells</b>. Em Anais da III Escola Brasileira de
	Primavera Transicao e Turbulencia, Florianopolis, SC, Brazil,
	<b>2002</b>. ABCM -- Associacao Brasileira de Ciencias e Engenharia
	Mecanica. (in CD).</p> 
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-003.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	 <p>J. Pontes, N. Mangiavacchi, O. E. Barcia, O. R. Mattos, B.
	Tribollet e D. Walgraef. <b>Hydrodynamic stability close to a
	 rotating disk electrode with respect to axisymmetric
	 perturbations</b>. Em Anais do Southern Conference on Computing,
	Hattiesburg, Mississippi, MS 39046, December <b>2002</b>. The
	University do Southern Mississippi. (in CD - ISBN 0-967774-1-0).</p>
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-002.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	 <p>J. Pontes, N. Mangiavacchi, O. E. Barcia, O. R. Mattos, B.
	Tribollet e D. Walgraef. <b>Stability do the hydrodynamic field
	 close to a rotating disk electrode</b>. Em Anais do Brazilian
	Congress do Thermal Engineering and Sciences, Brazil, <b>2000</b>.
	ABCM -- Associacao Brasileira de Ciencias e Engenharia Mecanica.
	(paper S35P31 in CD).</p> 
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>

  <div id="block">
   <div class="left">
	<a href={{ media_url('pdf/research/disk/congress-001.pdf') }}> <img src={{
	 media_url('images/pdf-icon.png') }} > </a>
   </div>
   <div class="right">
	<p>J. Pontes, N. Mangiavacchi, O. E. Barcia, O. R. Mattos, B.
	Tribollet e D. Walgraef. <b>Hydrodynamic stability close to a
	 rotating disk electrode with respect to axisymmetric
	 perturbations</b>. Em Anais da II Escola Brasileira de Primavera
	Transicao e Turbulencia, paginas 484--495, Uberlandia, Brazil,
	<b>2000</b>. ABCM -- Associacao Brasileira de Ciencias e Engenharia
	Mecanica.</p> 
   </div>
  </div>

 <p>&nbsp;</p>
 <p>&nbsp;</p>
  <h1>Dissertacoes e trabalhos de conclusao de curso de graduacao </h1>
 <p>&nbsp;</p>
 <p>&nbsp;</p>

 {% for res in resource.node.walk_resources_sorted_by_time() if res.meta.Type == 'MSc' or res.meta.Type == 'BSc' or res.meta.Type == 'DSc' -%}
  {{ render_article(res) }}
  {% endfor %}

 </div>
</body>

